
<mat-toolbar color="primary" class="toolbar" >
 
  <button mat-button class="splbutton"(click)="sidenav.open()">News Categories</button>

  <div class="newspaper" >New Wynk Times</div>  
  
  <div class="searchbox">
    <input class="searchinput"type="text" (input)="tcode=$event.target.value"  placeholder="Search news" name="search">
    <button mat-button class="srbutton" (click)="searchCall();">Search</button>
  </div>
</mat-toolbar>


<mat-sidenav-container class="example-container">

  <mat-sidenav #sidenav class="example-sidenav">
    <mat-list class="list-nav">
      <mat-list-item class="list-item" *ngFor="let category of categories" (click)="searchArticles(category);sidenav.close();">

        <span class="category-name"> {{category}}</span>

      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-card class="example-card"  *ngFor="let article of mArticles">
    <mat-card-header>
  
      <mat-card-title class="title">{{article.title}}</mat-card-title>
      <mat-card-subtitle>{{article.source.name}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="img-article" src={{article.urlToImage}} alt="">
    <mat-card-content>
      <p>
        {{article.description}}....
      </p>

    </mat-card-content>
 
   <form  class="morenews" method="get" action="{{article.url}}">
    <button mat-button type="submit">Click to Read more..</button>
</form>
  </mat-card>
  
</mat-sidenav-container>
<h2>{{message}}</h2>

<router-outlet></router-outlet>
